
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=@team_name%></h1>
    <h1>Team Motto: <%=@team_motto%></h1>
    <%@heroes.each do |hero|%>
    <h1>Hero Name: <%=hero["name"]%></h1>
    <h6>Hero Power: <%=hero["power"]%> </h6>
    <h6>Hero Biography: <%=hero["biography"]%> </h6>
    <% end %>
  </body>
</html>
